.governance {
  background-color: transparent;
  /* border: 1px solid blue; */

  display: flex;
  flex-direction: column;

  text-align: left;
  height: 100%;
}

.header {
  padding: 0.5rem;
  background-color: #000311;
}

.main {
  display: flex;
  flex-direction: column;
}

.goverananceTable {
  margin: 1rem;
  border-right: 2px solid grey;
  padding: 0;
  min-width: 12rem;

  display: none; /* do not show on mobile */
}

@media screen and (min-width: 768px) {
  .header {
    padding: 1rem;
  }

  .main {
    flex-direction: row;
  }

  .goverananceTable {
    display: block;
  }
}
