.proposals li {
  list-style: none;
  background-color: #030c2d;
  margin: 0 0 0.5rem 0;
  padding: 1rem;
}

.proposals ul {
  padding-inline-start: 0;
  margin: 1rem;
}

li.ACTIVE {
  background-color: #274480;
}

li.EXECUTED {
  background-color: #00031199;
}

.proposals li:hover {
  background-color: transparent;
}
