.votes {
  text-align: left;
  margin: 1rem 0;
}

.pieChart {
  width: 300px;
  height: 300px;
  /* border: 1px solid greenyellow; */
}

.modal {
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: auto;
  background-color: #030c2d;
  color: white;
  border: none;
  padding: 1rem;
  overflow-y: auto;
}

.modal svg {
  margin: 0;
}

.modal a {
  text-decoration: underline;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #314c7b99;
}
