html {
  box-sizing: border-box;
  background: url('./assets/Capitol-1920px-sky.jpg') no-repeat bottom center
    fixed;
  background-size: cover;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@media screen and (max-width: 480px) {
  html,
  body {
    min-width: 320px;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
